.menu{
    height: auto;
    padding: var(--section-padding);
    background-color: rgb(254, 218, 224);
}

.menu-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100%;
    margin-bottom: 50px;
}

.menu-header h3{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-header h1{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-header p{
    text-align: center;
    font-size: 1.1rem;
}



.menu .menu-filter .filter-content{
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.menu .menu-filter .filter-content label{
    padding: 0 30px;
}

.menu-main-content{
    margin: 40px 0;
}

.menu-main-content-some{
    display: flex;
    align-items: center;
}

.menu-main-content-nuevo{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.nuevo{
    margin-right: 10px;
}

.menu-main-content-h4{
    display: inline-block;
    position: relative;
    /* margin-left: 20px; */
    font-size: 2rem;
}

.menu-main-content-h4::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 110%;
    width: 700px;
    height: 1px;
    background-color: black;

}




