.questions{
    padding: var(--section-padding);
    height: auto;
    width: 100%;
}
.questions .questions-header{
    text-align: center;
    margin-bottom: 30px;
}

.questions .questions-center{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.questions-center .single-questions{
    border: solid 1px black;
    padding: 20px;
}

.single-questions .head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.single-questions .head img{
    width: 20px;
}

.questions .questions-bottom{
    text-align: center;
}

.question-body{
    display: none;
}

.show-text .question-body{
    display: block;
}

.close-btn{
    display: none;
}

.show-text .close-btn{
    display: inline;
}

.show-text .plus-btn{
    display: none;
}