*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --section-padding:  70px 50px;
}

body{
    /* background-color: aliceblue; */
}

.hero{
    padding: var(--section-padding);
    height: 100vh;
    width: 100%;
    background-image: url('./labarraca.png');
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    /* filter: brightness(0.6); */
    /* filter: drop shadow(0.6); */
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease;
    padding: 30px;
    border-bottom: solid 1px black;
}


.navbar .nav-logo{
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: visibility 0.3s ease;
    align-items: center;
}

.navbar .nav-logo img{
    height: 30px;
}


.navbar .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul{
    /* display: flex; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
   
}

nav ul li a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.navbar.scrolled{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .nav-logo{
    visibility: visible;
}

.navbar.scrolled ul li a{
    color: black;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: center;
}

.hero-content .hero-img{
    width: 180px;
}

.booking h4{
    color: white;
    padding: 7px 18px;
    background-color: black;
}

.second-page{
    padding: 70px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.second-page-img{
    flex: 0 0 auto;
    margin-right: 20px;
}

.second-page-text{
    flex: 1 1 auto;
    margin: 50px 30px 0 30px;
}


.image-background{
    position: relative;
    width: 550px;
    height: 550px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

.image-background::after{
    content: '';
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: black;
    z-index: -10;
}

.image-background img{
    width: 100%;
    height: auto;
    display: block;
    /* position: absolute; */
    /* right: 5%; */
}



