.reviews{
    padding: var(--section-padding);
    height: auto;
}

.reviews-header{
    text-align: center;
    margin-bottom: 30px;
}

.reviews h3{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.reviews h1{
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
}

.reviews p{
    font-size: 1.1rem;
}



.reviews-cards .card {
    width: 100%;
    background-color: #fbf9f3;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    padding: 3rem 2rem 2rem;
    display: inline-block;
}

.reviews-cards{
    column-count: 3;
    column-gap: 2rem;
}


.reviews-cards .card .num{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.reviews-cards .card .card-p{
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .reviews-cards{
        column-count: 2;
    }
}

@media (max-width: 767px) {
    .reviews-cards{
        column-count: 1;
    }
}

@media (max-width:576px) {
    .reviews-header h1{
        font-size: 3rem;
    }
}